body {
    /*background-color: #2D384A;*/
    margin: 0px;
    padding: 0px;
}

.card-details {
    border: 5px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    display: flex;
}

.card-details__image {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    overflow: visible;
}

.card-details__image > img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card-details__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-details__title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
    color: #0c0c0c;
}

.card-details__description {
    font-size: 19px;
    line-height: 150%;
    color: #0c0c0c;
    margin-bottom: 20px;
    overflow-wrap: anywhere;

}

.card-details__top {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.card-details__price {
    font-size: 20px;
    font-style: italic;
    color: black;
}

.card-details__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

hr {
    color: #fafafa;
    width: 100%;
}

.card-details__cost {
    font-size: 18px;
    color: black;
    margin-top: 20px;
}

.card-details__cost p {
    /*font-weight: bold;*/
    margin: 0;
    padding: 0;
}

.card-details__cost pre {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    /*padding-top: 0;*/
    margin-top: 4px;
    /*list-style: disc;*/
    padding-left: 10px;
}
